---
name: "Metadata: Label Commenter"

on:
  issues:
    types:
      - labeled
      - unlabeled
  pull_request_target:
    types:
      - labeled
      - unlabeled

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  comment:
    name: Label commenter
    runs-on: [ "self-hosted","geek-cookbook-funkypenguin-co-nz" ]
    container: funkypenguin/chart-tools # # necessary for running ARC with k8s jobs 
    steps:
      # - name: Generate Token
      #   uses: tibdex/github-app-token@v1
      #   id: generate-token
      #   with:
      #     app_id: ${{ secrets.K8S_AT_HOME_APP_ID }}
      #     private_key: ${{ secrets.K8S_AT_HOME_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v3
        with:
          token: "${{ secrets.RENOVATE_TOKEN }}"
          ref: main

      - uses: peaceiris/actions-label-commenter@v1
        with:
          github_token: "${{ secrets.RENOVATE_TOKEN }}"
