---
name: "Renovate: Schedule"

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Dry-Run"
        default: "false"
        required: false
      logLevel:
        description: "Log-Level"
        default: "debug"
        required: false
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
    paths:
      - ".github/renovate.json5"
      - ".github/renovate/**.json"

env:
  LOG_LEVEL: debug
  DRY_RUN: false
  RENOVATE_CONFIG_FILE: .github/renovate.json

jobs:
  main:
    name: Renovate
    runs-on: [ "self-hosted","geek-cookbook-funkypenguin-co-nz" ]
    container: funkypenguin/chart-tools # # necessary for running ARC with k8s jobs 
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Override default config from dispatch variables
        run: |
          echo "DRY_RUN=${{ github.event.inputs.dryRun || env.DRY_RUN }}" >> "${GITHUB_ENV}"
          echo "LOG_LEVEL=${{ github.event.inputs.logLevel || env.LOG_LEVEL }}" >> "${GITHUB_ENV}"

      - name: Renovate
        uses: renovatebot/github-action@v32.216.0
        with:
          configurationFile: ".github/renovate.json5"
          token: ${{ secrets.RENOVATE_TOKEN }}
